//Import some partials
@import 'base';
@import 'layout';
@import 'buttons';
@import 'reset';

//Global settings for desktop
body{
   background-color: #c6c6c6;
   font-family: $font-stack;
   line-height: 1.6;;
}

//Full width on all img of its container
img{
   width:100%;
}

//Supress underscore
a{
   text-decoration: none;
}

.header{
   padding:10px 15px;
   
   //using flexbox on both nav and ul element to give good structure
   nav{
      display:flex;
      align-items: center;
      justify-content: space-between;

      //Supress bullet on ul
      ul{
         display:flex;
         list-style-type: none;
      }

      //Give some space between list item
      li{
         padding:10px;
      }

      //Handle the anchor meny settings
      a{
         color: setTextColor($nav-color);
         font-weight: bold;
         font-size:1.5em;
      }

      //Handle hover on anchor menu 
      a:hover{
         color:darken($nav-color,12);
         font-weight: bolder;
      }
   }//end nav
}/* end .header */

//The content is in the middle and we use flexbox again
.content{
   display:flex;
   align-items: center;
   justify-content: space-around;
   margin:0 30px;
   
  .info{
      margin-top: 1em;
   }

   img{
      margin:50px;
   }

   h1{
      font-size:3em;
      line-height:1.2;
      margin-bottom: 5px;
   }

   a:hover{
      color: darken(setTextColor($primary-color),10);
   }

   //Keep utily buttons centered
   .utility-btn{
      text-align: center;
   }
}

footer{
   border:1px solid #fff;
   p{
      text-align: center;
      padding:2em 0;
      margin-top: 1em;
   }
}
@import 'mobile';

